<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>
<th:block th:each="item : ${listAll}">
    <p><small th:text="${item.getDentistName()}"> </small>
        <small th:text="${item.getVisitTime()}">
        </small>
    <form th:action="@{/edit}" method="get">
        <input type="hidden" name="edit" id="edit" th:value="${item.getId()}"/>
        <button type="submit">Edit</button>
    </form>
    <form th:action="@{/delete}" method="post">
        <input type="hidden" name="delete" id="delete" th:value="${item.getId()}"/>
        <button type="submit">Delete</button>
    </form>
    </p>
</th:block>

<br/>
<a th:href="@{/}">
    <button type="submit">To main page</button>
</a>
</body>
</html>